.home-area{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.home-container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}