.dashboard-area{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.dashboard-h2{
    color: #292929;
    margin: 0;
    margin-bottom: 10px;
}

.dash-cards-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.dashboard-p{
    color: #6b7280;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}